/* TAGS & ELEMENTS */
/* line 14, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
*, *::before, *::after {
  box-sizing: inherit;
}

/* line 17, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
html {
  box-sizing: border-box;
}

/* line 20, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
body {
  background-color: #292929;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: -0.03em;
}

/* line 25, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
header {
  min-height: 25vh;
  max-height: 30vh;
}

/* line 28, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
header nav {
  position: static;
}

/* line 31, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
main {
  display: flex;
  background-color: white;
  padding: 0 0 2em 0;
}

/* line 36, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
section {
  display: block;
  text-align: left;
  padding: 1em;
  margin: 0 0 -1.5em 0;
}

/* line 41, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
section h4 {
  font-size: 0.9em;
  color: #8c5b3e;
  text-transform: uppercase;
  margin: 0.5em 0;
}

/* line 46, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
section p {
  font-size: 0.7em;
  line-height: 1.25;
}

/* line 50, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
aside {
  display: block;
  background-color: #efefef;
  border-radius: 0.5em;
  padding: 0.5em 0.5em 0 0.5em;
  margin: 1em 1em 0 1em;
  min-width: 30vw;
}

/* line 57, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
aside div {
  text-align: left;
  padding: 0.5em;
}

/* line 60, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
aside div h6 {
  text-align: left;
  text-transform: uppercase;
  color: dimgray;
  margin: -0.3em 0 0.5em 0;
}

/* line 65, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
aside div img {
  max-width: 100%;
}

/* line 67, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
aside div p {
  font-size: 0.6em;
  line-height: 1.25;
}

/* line 71, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.55);
  font-size: 0.6em;
  font-weight: 100;
  background-color: #c8ac6a;
  padding: 1em 1.25em;
  position: static;
  bottom: 0;
}

/* line 82, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
footer :nth-child(2) {
  text-transform: uppercase;
}

/* CLASSES */
/* Type: Images /* */
/* line 88, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.chuckBackground {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0px;
  z-index: -1;
}

/* line 95, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.chuckSeal {
  position: absolute;
  left: 0;
  margin: 1em 0.5em;
  min-width: 130px;
  max-width: 15vw;
}

/* Type: NavBars */
/* line 103, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navTop {
  display: block;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.35);
  padding: 0.25em 1em;
}

/* line 108, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navTop div, .navTop a {
  font-size: 0.8em;
  color: black;
}

/* line 112, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navSub {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  background-color: #ac7c3a;
}

/* line 117, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navSub div {
  text-align: center;
  width: 60vw;
}

/* line 120, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navSub div ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0.5em;
  margin: auto 0;
  width: 100%;
}

/* line 127, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navSub div ul li {
  display: flex;
  font-size: 0.85em;
  font-weight: 700;
}

/* line 131, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navSub div ul li a {
  color: white;
  text-decoration: none;
  padding: 0.25em 0.5em;
}

/* line 135, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navSub div ul li :hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0.5em;
}

/* Type: fontAwesome Custom-Sized Icons */
/* line 141, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.custom-fa-1pt6 {
  color: rgba(255, 255, 255, 0.55);
  font-size: 1.6em;
  margin: 0 0.15em;
}

/*# sourceMappingURL=../css/styles.map */