/* TAGS & ELEMENTS */
/* line 14, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
*, *::before, *::after {
  box-sizing: inherit;
}

/* line 17, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
html {
  box-sizing: border-box;
}

/* line 20, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
body {
  background-color: #292929;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: -0.03em;
}

/* line 25, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
header {
  height: 50vh;
}

/* line 27, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
header nav {
  position: static;
}

/* line 30, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
ul {
  margin: 0.25em 0;
  display: flex;
  list-style-type: none;
}

/* line 35, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
a {
  text-decoration: none;
}

/* line 38, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
main {
  display: flex;
  background-color: white;
  padding: 0 0 2em 0;
}

/* line 43, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
section {
  display: block;
  text-align: left;
  padding: 1em;
  margin: 0 0 -1.5em 0;
}

/* line 48, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
section h4 {
  font-size: 0.9em;
  color: #8c5b3e;
  text-transform: uppercase;
  margin: 0.5em 0;
}

/* line 53, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
section p {
  font-size: 0.7em;
  line-height: 1.25;
}

/* line 57, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
aside {
  display: block;
  background-color: #efefef;
  border-radius: 0.5em;
  padding: 0.5em 0.5em 0 0.5em;
  margin: 1em 1em 0 1em;
  min-width: 30vw;
}

/* line 64, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
aside div {
  text-align: left;
  padding: 0.5em;
}

/* line 67, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
aside div h6 {
  text-align: left;
  text-transform: uppercase;
  color: dimgray;
  margin: -0.3em 0 0.5em 0;
}

/* line 72, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
aside div img {
  max-width: 100%;
}

/* line 74, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
aside div p {
  font-size: 0.6em;
  line-height: 1.25;
}

/* line 78, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.6em;
  font-weight: 100;
  background-color: #c8ac6a;
  padding: 1em 1.25em;
  position: static;
  bottom: 0;
}

/* line 89, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
footer :nth-child(2) {
  text-transform: uppercase;
}

/* line 91, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
footer div {
  display: flex;
  align-content: center;
  margin: 0.15em 0 0 0;
}

/* line 95, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
footer i {
  padding: -0.15em 0 0 0;
}

/* CLASSES */
/* Type: Images /* */
/* line 101, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.chuckBackground {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0px;
  z-index: -1;
}

/* line 108, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.chuckSeal {
  position: absolute;
  left: 0;
  top: 5vh;
  margin: 1em 0.5em;
  min-width: 150px;
  max-width: 10vw;
}

/* Type: NavBars * */
/* line 117, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navTop {
  position: absolute;
  top: 0;
  display: block;
  text-align: right;
  padding: 0 1em;
  background-color: rgba(255, 255, 255, 0.35);
  width: 100%;
}

/* line 125, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navTop div, .navTop a {
  align-items: center;
  font-size: 0.9em;
  color: black;
}

/* line 129, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navTop ul {
  display: block;
  justify-content: right;
}

/* line 133, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.topLinksFlexDiv {
  display: inline-flex;
  justify-content: right;
}

/* line 137, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navSub {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  background-color: #ac7c3a;
}

/* line 142, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navSub div {
  text-align: center;
  width: 60vw;
}

/* line 145, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navSub div ul {
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
  margin: auto 0;
  width: 100%;
}

/* line 151, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navSub div ul li {
  display: flex;
  font-size: 0.85em;
  font-weight: 700;
}

/* line 155, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navSub div ul li a {
  color: white;
  padding: 0.25em 0.5em;
}

/* line 158, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.navSub div ul li :hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0.5em;
}

/* Type: fontAwesome Custom-Sized Icons */
/* line 164, C:/Users/anouk/Desktop/chuxx0r/src/styles/sass/styles.sass */
.custom-fa-1pt75 {
  color: rgba(255, 255, 255, 0.55);
  font-size: 1.75em;
  margin: 0 0.15em;
}

/*# sourceMappingURL=../css/styles.map */